*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body{
   
}

.container {
    font-size: 1.2rem;
    min-height: 200vh;
    padding: 3rem;
    background-color: green;
    background-image: url(./img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    padding: 3rem;
    text-decoration: underline;
    color: #7B2869;

}

p {
    color: #0A2647;

    text-align: justify;
    line-height: 1rem;

}


.secondBranch{
    text-align: center;
    font-size: 2rem;
    padding: 4rem;
    margin: 4rem;
    background-color: #0c305a9a;
    line-height: 3rem;
    color: rgb(148, 30, 46);
}

.thirdBranch{
    height: 150vh;
background-color: #0A2647;
background-image: url(./uk.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-size: 4rem;
color: white;
mix-blend-mode: difference;
display: flex;
align-items: center;
justify-content: center;
}